.App {
  /* text-align: center; */
}

.App-header {
  
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.header{
  margin: 20px;
  text-align: left;

}
.cabecalho{
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 10px;
  color: #333333;

}
.titulo{
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 95px;
  letter-spacing: -0.035em;

  /* Gray 1 */

  color: #333333;
}
.corpo_titulo{
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: -0.001em;

  /* Gray 2 */

  color: #4F4F4F;

}
.footer{
    text-align: center;
}
  .texto-footer{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    color: #BDBDBD;
  }
  @media (max-width: 480px) {
    .linha{
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .image{
      width: 80%;
      
    }
    .footer{
      text-align: center;
    }
    .titulo{
      font-weight: 600;
      font-size: 50px;
      line-height: 47px;
      text-align:left;
    }
    .corpo_titulo{
      text-align:left;
    }
  }